head
    title Airdrop bot
    link(rel='stylesheet' href='/css/index.css')
body
    div.container
        div.element
            input#destAddr(type='text' placeholder='address')
            button(onclick="transfer()") submit
        div#serverRES
    script(src="/js/index.js")
